# These are some examples of commonly ignored file patterns.
# You should customize this list as applicable to your project.
# Learn more about .gitignore:
#     https://www.atlassian.com/git/tutorials/saving-changes/gitignore

# Node artifact files
elastic-2.5.0/cert
!elastic-2.5.0/cert/keystore.jks
kubernetes/note.sh
spark/script/conn-elasticsearch.py
spark/script/model-cls-randomforest
spark/spark-myproject.yaml